
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg{
    background-color: rgba(33, 33, 33, 0.9);
}

.bg1{
    background-color: #212121;
}

.input_bg{
    background-color: #212121 !important;
}

.bg_dark{
    background-color: #1c1c1c
}

.message_sender{
    background-color: #3797f0;
}

.transparent_padding{
    background-color: transparent;
}

.center{
    color: white;
    text-align: center;
}

.white_text{
    color: #ffffff;
}

.inherit_color{
    color: inherit;
}

.flexbox{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.nothing_display{
    display: none;
}

.overflow_x_hidden{
    overflow-x: hidden;
}

.fixed_box{
    position: fixed;
}

.hidden{
    display:none;
}

.div_centrify{
    justify-content: center;
    align-items: center;
}


.min_height_complete{
    min-height: 100vh;
}

.complete_height{
    min-height: 100vh;
}

.full_height{
    height: 100%
}

.dimension_profile_pics{
    height: 36px;
    width: 36px;
}

.complete_width{
    width: 100%;
}

.no_resize{
    resize: none;;
}

.outline_none{
    outline: none
}

.text{
    color: white;
}

.align_center{
    text-align: center;
}

.flex_different{
    flex-direction: column;
}

.standard_padding{
    padding: 14px;
}

.padding_top_none{
    padding-top: 0
}

.padding_bottom_none{
    padding-bottom: 0
}

.no_left_padding{
    padding-left: 0;
}

.no_link:hover{
    text-decoration: none;
}

.standard_link_highlight:hover{
    text-decoration: underline #fff !important
}

.hover_pointer:hover{
    cursor: pointer;
}

.link_button_main{
    border-radius: 12px;
    margin: 12px;
}

.standard_margin_left{
    margin-left: 12px;
}

.standard_margin_right{
    margin-right: 12px;
}

.standard_margin_bottom{
    margin-bottom: 12px;
}

.standard_margin_top{
    margin-top: 12px;
}

.margin_vertical_auto{
    margin: auto 0;
}

.margin_horizontal_auto{
    margin: 0 auto;
}

.center_content{
    justify-content: center;
}

.textbox_radius, .standard_border_radius{
    border-radius: 12px;
}

.border_radius{
    border-radius: 100px;
}

.no_border{border: none}

.standard_border{border: 1px solid #fff}

.standard_border_bottom{border-bottom: 1px solid #fff}

.standard_border_top{border-top: 1px solid #fff}

.standard_border_right{border-right: 1px solid #fff}

.navbar{
    font-size: 1.2rem;
}

.heading_size{
    font-size: 3rem;
}


.font_heavy{
    font-weight: 700;
}

.font_light_important{
    font-weight: 500 !important;
}

.no_link{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.navbar_links_hover:hover{
    background-color: #212121;
}

.dropdown:hover, .highlight:hover{
    background-color: #212121;
}


.navbar_links{
    margin: 0 12px
}


.margin_auto{
    margin: auto;
}

.margin_vertical_auto{
    margin: auto 0;
}

.standard_margin_top_navbar{
    margin-top: 12px;
}

.element_distance{
    margin: 12px ;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif
}


@media only screen and (max-width: 910px){
    #side_logo, #desktop_navbar, .hiddenSmallScreen{
        display: none;
    }

    .display_flex_smallScreen{
        display: flex;
    }

    .right_form, .fullWidthOnSmallScreens{
        width: 100% !important;
    }

    .fullHeightOnSmallScreens{
        height: 100%;
        max-width: 100% !important;
    }

    .margin_auto_smallScreen{
        margin: auto
    }

    .flex_different_smallScreen{
        flex-direction: column;
    }
}

@media only screen and (min-width: 670px){ 
    .centerfold_div{
        top: 50%;
        left: 50%;
        position: relative;
    }
}
